* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background: #2e3440;
  color: #d8dee9;
  font-family: "Noto Sans";
  font-size: 15px;
  margin: 5px;
  padding: 5px;
}

#network {
  padding: 0 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #88c0d0;
  /* font-family: "JetBrainsMono Nerd Font"; */
}

#battery,
#clock,
#pulseaudio,
#tray,
#backlight,
#language,
#custom-archicon {
  padding: 0 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #88c0d0;
}

#clock {
}

#window {
  font-weight: bold;
}

#workspaces {
  margin: 5px 10px;
}

#workspaces button {
  color: #88c0d0;
  padding: 0 6px;
}

#workspaces button.focused {
  color: #2e3440;
  background-color: #88c0d0;
  border-radius: 10px;
  /* padding: 0 2px; */
}

#workspaces button.active {
  color: #2e3440;
  background-color: #88c0d0;
  padding: 0 6px;
  border-radius: 20px;
}

#workspaces button.urgent {
  border-color: #bf616a;
  color: #bf616a;
}
